@{
    ViewData["Title"] = "Home Page";
}


<div class="col-md-4 mb-4">
    <div class="card shadow-sm p-3 h-100 text-center justify-content-center">

        <p> In a real-life platform, this page would display graphs, charts and other visuals</p>

    </div>
</div>